#setterDiv {
  height: 100vh;
  position: relative;
  background-color: black;
}
#timerDiv {
  background-color: black;
}
#controlDiv {
  background-color: black;
}
#topDivLeft{
  background-color: black;
  height: 25vh;
}
#topDivRight{
  background-color: black;
  height: 35vh;
}
#middleDivLeft{
  background-color: black;
  height: 7vh;
}
#topDivMiddle{
  background-color: black;
  height: 35vh;
}
#pomodoroTimerName, #pomodoroTimer{
  color: white;
  text-align: center;
}
#startStop{
  height: 10vh;
}
#startStopText{
  font-size: 200%;
}
#pControlMinus, #pControlPlus, #pControlTimer, #pomodoroName, #breakName, #bControlMinus, #bControlPlus, #bControlTimer, #startStop, #pauseButton{
  background-color: white;
  border-radius: 15px;
}
